.card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: #118AB2;
  border: 1px solid #FFFF;
  text-align: center;
}
.card:hover{
  border:1px solid #2125292d;
  background-color: #FFFF;
  color: #118AB2;
}



.card__name{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.card__price{
  padding: 1px 5px;
}

.card__price--discount{
  color: #a7a7a7;
  text-decoration: line-through;
}